{# views/Default/import.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Charger un fichier excel</title>
</head>
<body>
<h1>Charger un fichier format xslx </h1>

{{ form_start(form) }}
{# ... #}

{{ form_row(form.fichier) }}
{{ form_end(form) }}
</form>
</body>
</html>