<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Charger un fichier excel</title>
</head>
<body>
<a href="{{path('seedmetrix_importexcel_csv_import')}}">Importer un fichier</a>
</body>
</html>
