/* dialog overlay
body {
        backgroud: green;
}*/

.c-dialog {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    padding: 2.4rem;
    overflow-y: scroll;
    /*  -webkit-overflow-scrolling: touch;*/
    background-color: rgb(45, 45, 45);
    transition: .2s;
    opacity: 0.75;
}

/*dialog box*/
.c-dialog__box {
    flex: 1;
    max-width: 48rem;
    margin: auto;
    padding: 2.4rem;
    background-color: white;
}

/*  hidden dialog */
.c-dialog[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
}